{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>

{% endblock %}
{% block javascripts %}
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>

{% endblock %}

{% block body %}
    <script>
        function fillInformation(planning) {
            $("#plan_information").html("");
            var html = '<div>' +
              '<h2>'
                + 'Total Hours To Complete All Tasks -> ' + planning.minHoursOfExecution + ' Hours' + '</br>'
                + 'Total Weight Of Tasks (Amount of task) -> ' + planning.totalWeight + '</br>'
                '</h2>' +
            '</div>';
            $("#plan_information").append(html);

            $("#plan_information").append('</br></br>');
            var i = 0;
            for (var key in planning.developers) {
                var reportHtml = '<div>' +
                    '<h2>'
                    + 'Developer -> ' + planning.developers[key].name + '</br>'
                    + 'Allocated Total Hours -> ' + planning.developers[key].actualSizeOfTime + ' Hours' + '</br>'
                    + 'Total Worked Tasks -> ' + planning.developers[key].tasks.length + '</br>'
                    + 'Developer Work Capacity Unit -> ' + planning.developers[key].developer.workCapacityPerHour + '</br>'
                '</h2>' +
                '</div></br>';
                $("#plan_information").append(reportHtml);
            }



        }

        $(document).ready(function() {
            $('#taskTable').DataTable();
            const getPlan = function () {
                $.ajax({
                    type: 'get',
                    dataType: 'json',
                    url: 'http://127.0.0.1:8000/tasks/planning',
                    error: function () {
                        alert("There was an error processing this page.");
                        return false;
                    },
                    complete: function (output) {
                        console.log(output.responseJSON)
                        let planning = output.responseJSON;
                        fillInformation(planning)
                    }
                });
                return false;
            };
            $("#get_plan").on("click", function (e) {
                e.preventDefault();
                getPlan();
            });
        } );
    </script>
    <h1>Tasks</h1>
    <table id="taskTable" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Provider</th>
            <th>Name</th>
            <th>Time</th>
            <th>Level</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.provider|e }}</td>
                <td>{{ task.name|e }}</td>
                <td>{{ task.time|e }}</td>
                <td>{{ task.level|e }}</td>
            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <th>Provider</th>
            <th>Name</th>
            <th>Time</th>
            <th>Level</th>
        </tr>
        </tfoot>
    </table>
    <button type="button" id="get_plan" class="btn btn-info">Plan Information</button>
    <div id="plan_information">

    </div>

{% endblock %}